.header {
    padding:25px 0;
}

.header__container {
    height:50px;
}

.header__logo, .header__main-menu, .header__contacts {
    position:absolute;
}
.header__logo {
    position:absolute;
    top:8px;
    left:0; 
}
.header__main-menu {
    top:16px;
    left:255px;
}
.header__contacts {
    top:8px;
    right:0;
}