.header {
    padding:25px 0;
}


.header .contacts {
    margin-top:8px;
    float:right;
}
.header .logo {
    float:left;
    margin-top:8px;
    
}
.header .main-menu {
    float:left;
    margin:17px 0 0 90px;
}