.hero {
    padding:155px 0 0 0;
}
.hero__content {
    width:505px;
}
.hero__description {
    margin-top:27px;
    font-size:18px;
    line-Height:1.1;
    color:#d3a557;
}
.hero__more {
    margin-top:42px;
}