.hero {
    padding:205px 0 60px 0;
}
.hero__content {
    width:505px;
}
.hero__title {
    font-size:58px; 
    line-height: 64px;
    font-weight: bold;
}
.hero__description {
    margin-top:27px;
    font-size:18px;
    line-Height:20px;
    color:#d3a557;
}
.hero__more {
    margin-top:43px;
}