.news_position_main {margin-top:122px;}
.news__list {margin-top:51px;}
.news__preview {
    display:inline-block;
    margin-right:20px;
}
.news__preview:last-child {margin-right:0;}

.news .paginator {
    margin-top:47px;
}
