.paginator {
    line-height:1.875;
    text-align:center;
}
.paginator__pages {
    display:inline-block;  
    margin-right:25px;
}
.paginator__list {
    display:inline-block;
}
.paginator__item {
    display:inline-block;
}
.paginator__item:last-child {margin:0;}
.paginator__link {
    text-align:center;
    display:block;
    width:30px;
    height:30px;
    border-radius:50%;
}
.paginator__link:hover, .paginator__link:active {
    background-color:#353439;
}