@import "./wrapper.css" screen;
@import "./header.css" screen;
@import "./hero.css" screen;
@import "./offers.css" screen;
@import "./news.css" screen;
@import "./button.css" screen;
@import "./paginator.css" screen;
@import "./about.css" screen;
@import "./footer.css" screen;
@import "./socials.css" screen;
@import "./normalize.css" screen;
@import "./main-menu.css" screen;
@import "./contacts.css" screen;

body {
    margin:0;
    font-family: 'Open Sans', sans-serif;
    color:#fff;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

* {box-sizing:border-box;}

a {
    text-decoration:none;
    color:inherit;
}

ul {
    padding:0;
    margin:0;
}
ul li {list-style-type: none;}

h1, h2, h3, h4, h5, h6 {margin:0; font-weight:700;}
.title_style_second {
    font-size:36px;
    line-height:50px;
}

.clear {clear:both;}
.container {
    width:1140px; 
    margin-left:auto; 
    margin-right:auto;
}