.wrapper {
    padding-bottom:162px;
    min-height:100vh;
    position:relative;
    min-width:1160px;
}

.wrapper_bg_main {
    background: url(../img/wrapper/lion-header.png) center top no-repeat #29282D;
}
.wrapper_bg_main:before {
    position:absolute;
    content:'';
    right:0;
    bottom:240px;
    width:48%;
    height:844px;
    background:url(../img/wrapper/lion-bottom.png) left center no-repeat;
    background-size:100% auto;

}

