.article-preview {
    display:flex;
    padding:40px 30px 22px 30px;
}
.article-preview__img {
    display:block;
    max-width:100%;
    
}
.article-preview__image {
width:40.3%;
margin-right: 5%;
}
.article-preview__text {
    flex:1;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.article-preview__title {
    font-size:36px;
    font-weight:700;
    color:#202020;
    width:89.5%;

}
.article-preview__desc {
    padding-top:45px;
    line-height:1.7;
    padding-bottom:53px;
}
.article-preview__button {
    margin-top:auto;
    min-width:165px;
}

.article-preview__send {display:none;}

.article-preview:hover {background:#f4f5f5;}

.article-preview:hover .article-preview__button {background:#D3A557;}
.article-preview__button:hover .article-preview__send {display:block;}
.article-preview__button:hover .article-preview__more {display:none;}
