.button {
    display:inline-block;
    text-transform: uppercase;
    padding:19px 39px;
    font-size:14px;
    line-height:1;
    font-weight:700;
    border-radius:3px;
    color:#fff;
    box-shadow:0 0 35px 0 rgba(223, 181, 109, 0.35);
    cursor:pointer;
    border:0;
}
.button:hover {transition: background 0.3s linear;}
.button_style_def {
    background:#DFB56D;
}
.button_style_def:hover {
    background:#D3A557;
}

.button_style_dark {
    background:#2d2d2d;
}
.button_style_dark:hover {
    background:#DFB56D;
}

.button_style_gray {
    background:#8E8E8E;
}

.button_style_gray:hover {
    background:#2B2B2B;
}

.button_shadow_none {
    box-shadow:none;

}