.main-menu__item {
    display:inline-block;
    margin-right:50px;
    font-size:14px;
}
.main-menu__list .main-menu__item:last-child {margin-right:0;}
.main-menu__link:hover, .main-menu__link.active {color:#D3A557;}
.main-menu__link:hover {transition: color 0.3s ease;}