.news_position_main {margin-top:122px;}
.news__list {
    margin-top:54px;
    display:flex;
    justify-content: space-between;
}
.news__preview {
    width:calc(100% / 2 - 13px);
    height:394px;
    margin-right:26px;
}
.news__preview:last-child {margin-right:0;}

.news .paginator {
    margin-top:53px;
}
