.socials {align-self: flex-start;}
.socials .socials__item:last-child {
    margin-right:0;
}
.socials__list {
    display: flex;

}
.socials__item {
    display:block;
    margin-right:10px;
    
}
.socials__link {
    display:block;
    width:36px;
    height:36px;
}



.socials__link_telegram {background:url(../../img/socials/social.png) left -39px no-repeat;}
.socials__link_vkontakte {background:url(../../img/socials/social.png) -46px -39px no-repeat;}
.socials__link_facebook {background:url(../../img/socials/social.png) -92px -39px no-repeat;}
.socials__link_instagram {background:url(../../img/socials/social.png) -138px -39px no-repeat;}
.socials__link_telegram:hover {filter:brightness(205%); transition: filter 0.3s ease-in;}
.socials__link_vkontakte:hover {filter:brightness(205%); transition: filter 0.3s ease-in;}
.socials__link_facebook:hover {filter:brightness(205%); transition: filter 0.3s ease-in;}
.socials__link_instagram:hover {filter:brightness(205%); transition: filter 0.3s ease-in;}