.socials {margin-top:5px;}
.socials .socials__item:last-child {margin-right:0;}
.socials__item {
    display:inline-block;
    margin-right:6px;
    
}
.socials__link {
    display:inline-block;
    width:36px;
    height:36px;
}

.socials__link_telegram {background:url(../../img/socials/social.png) left -39px no-repeat;}
.socials__link_vkontakte {background:url(../../img/socials/social.png) -46px -39px no-repeat;}
.socials__link_facebook {background:url(../../img/socials/social.png) -92px -39px no-repeat;}
.socials__link_instagram {background:url(../../img/socials/social.png) -138px -39px no-repeat;}
.socials__link_telegram:hover {background:url(../../img/socials/social.png) left top no-repeat;}
.socials__link_vkontakte:hover {background:url(../../img/socials/social.png) -47px top no-repeat;}
.socials__link_facebook:hover {background:url(../../img/socials/social.png) -92px top no-repeat;}
.socials__link_instagram:hover {background:url(../../img/socials/social.png) -138px top no-repeat;}